[
		{iso8583_echo_server,
			[
				{interfaces,[#{port => 8002,name => interface_gh,limit =>100,byte_header_size => 3,server_address => "127.0.0.1",spec_path => "interface_conf/custom_cfg.cfg"}]},
				{client_server_address,"127.0.0.1"},{client_spec_path,"interface_conf/custom_cfg.cfg"},{client_port,8002},{client_byte_header_size,3}				
			]
		},
		{ssl,[{protocol_version,['tlsv1.2','tlsv1.1']}]}
].
